<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta itemprop="nocontainer" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      <query-content q="title">Reed's Website</query-content> <drop-if
      truthy="content"> (Global Template) </drop-if>
    </title>
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="icon" href="/favicon.png" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="/system/global.css"
      type="text/css"
      media="screen"
    />
    <link rel="stylesheet" href="/site.css" type="text/css" media="screen" />
    <style>
      body {
        height: fit-content; /* Body height affects sticky header behavior */
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <div class="sticky-top higher">
      <header>
        <center-column-layout>
          <nav aria-label="Main navigation">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/recent.html">Recent</a></li>
              <drop-if
                truthy="parameters?.originalParameters?.static !== undefined"
              >
                <li><a href="?edit">Edit this page</a></li>
              </drop-if>
            </ul>
          </nav>
        </center-column-layout>
      </header>
      <center-column-layout class="relative lower">
        <keep-if truthy="statusMessage">
          <toast-message role="status">
            <span x-content="statusMessage"></span>
            <button
              clean
              type="button"
              onclick="this.closest('toast-message').remove()"
              title="Dismiss"
            >
              Ⓧ
            </button>
          </toast-message>
        </keep-if>
      </center-column-layout>
    </div>
    <main>
      <center-column-layout>
        <query-content q="content">
          <p>
            This is the global page template. Usually, this text would be
            replaced with the HTML content of another entry in the wiki. But I
            guess not today!
          </p>
          <p>
            You can <a href="?edit">Edit this page</a> to change the styling and
            layout for most of the site.
          </p>
        </query-content>
      </center-column-layout>
    </main>
    <footer>
      <center-column-layout>
        <nav aria-label="Secondary navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a rel="me" href="/contact">Contact</a></li>
            <li><a href="/recent.html">Recent</a></li>
            <li><a href="/sitemap.html">Sitemap</a></li>
            <li><a href="#">Top of page ⤴</a></li>
          </ul>
        </nav>
      </center-column-layout>
    </footer>
  </body>
</html>
