future- {
  margin-left: 0.8em;
  display: inline-block;
  &::before {
    content: "Future";
    display: block;
    margin-left: -0.8em;
    font-size: 0.8em;
    font-variant: small-caps;
    font-style: italic;
  }
}
